/*
COM1008 Diamond Website Assignment by Bhavesh Prajapat and Simon Bone
Mobile First Cascading Style Sheet
*/
/* TODO: COMMENT*/

/* Remove margin and padding from body*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Header styling */
header {
    background-color: #1085E5;
    padding: 5px 3%;
}
header h1 {
    margin: 0;
    color: white;
    font-size: 1.25em;
    text-align:left;
    padding: 2% 1%;
}
h1, p{
    font-family: sans-serif;
}
/* Navbar styling */
nav {
    padding: 5px 2%;
    color: white;
    background-color: #0E77CD;
}
nav ul{
    display: inline;
    list-style: none;
    padding: 2%;
    margin-right: 0;
}
ul{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    padding-right: 1.5%;
    text-align: left;
    font-family: sans-serif;
    font-size: 0.45em;
    color: white;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.75em;
    color: white;
}
/* CSS for links in Navbar*/
nav ul li a:hover {
    color: white;

}
a:hover{
    text-decoration: underline;
}
/* Simple CSS for card layout of each page*/
main{
    margin: 10px 9%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0 1%;
    padding: 2% 6%;
    transition: 0.3s;
}
main:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}
/*
Form related CSS starts
*/
form{
    margin: 2% 2%;
}
input[type=text], input[type=email], select {
    font-family: sans-serif;
    width: 100%;
    padding: 1% 1%;
    margin: 1% 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11pt;
}
textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 1% 1%;
    margin: 1% 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11pt;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 3px solid #555; 
}
input.error {
    border-color: red;
}
.byline{
    font-family: sans-serif;
}
button{
    background-color: rgb(100, 181, 246);
    padding: 2% 3%;
    font-family: sans-serif;
    color: ghostwhite;
    font-size: 1.25em;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

/*
Form related CSS ends
*/
/*
Image related CSS starts
*/
/* All images have shadow, rounded corners and a hover animation by default */
img{
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}
img:hover {
    box-shadow: 0 9px 18px rgba(0,0,0,0.25), 0 9px 18px rgba(0,0,0,0.22);
}
/* Various image size classes */
.bigimg{
    width: 45vw;
    margin: 2% 3%;
}
.regimg{
    width: 40vw;
    margin: 2% 3%;
}
.smallimg{
    width: 30vw;
    margin: 2% 3%;
}
.xsmallimg{
    width: 25vw;
    margin: 2% 3%;
}
/* Various image location classes with custom margins for each */
.floatright{
    display: block; /* DO NOT FLOAT ON MOBILE */
    margin: 1% auto;
}
.floatleft{
    display: block; /* DO NOT FLOAT ON MOBILE */
    margin: 1% auto;
}
.centered{
    font-family: sans-serif;
    text-align: center;
    display: block;
    margin: 0.5% auto;
}
/*
Footer related CSS
*/
footer{
    background-color: #0E77CD;
    padding: 5px 5%;
}
footer p{
    margin: 0.5% auto;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8em;
    color: white;
}
footer a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 1.1em;
}


/*
Media query targets devices with > 800px IN WIDTH (i.e. desktop form factors)
*/
@media (min-width: 800px) {
    /* Make the header and navbar normal sized for desktop websites */
    header h1 {
        text-align: left;
        font-size: 2em;
        padding: 1% 3%;
    }
    nav ul{
        margin-top: 0;
        padding: 2% 5%;
        list-style: none;
    }
    nav ul li {
        text-align: left;
        font-family: sans-serif;
        font-size: 0.6em;
        color: antiquewhite;
    }
    .floatright{
        float: right; /* Floats items when the form factor allows */
    }
    .floatleft{
        float: left; /* Floats items when the form factor allows */
    }
    /* Reconfigured sizes for images on devices with larger screens */
    .bigimg{
        width: 35vw;
        margin: 0.5% 3%;
    }
    .regimg{
        width: 35vw;
        margin: 0.5% 3%;
    }
    .smallimg{
        width: 20vw;
        margin: 0.5% 3%;
    }
    .xsmallimg{
        width: 10vw;
        margin: 0.5% 3%;
    }
    .centered{
        margin-left: auto;
        margin-right: auto;
    }
    input[type=text], .byline, textarea, input[type=email]{
        width: 50%;
        display: block;
        margin: auto;
    }
    button{
        width: 20%;
        display: block;
        margin: auto;
    }
}